.user-profile {
    margin: 20px;
    padding: 20px;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 935px; /* Adjust based on your layout */
}

.profile-container {
    max-width: 935px;
    margin: auto;
    padding-top: 30px;
}

.profile-header {
    display: flex;
    margin-bottom: 44px;
}

.profile-image-container {
    margin-right: 30px;
    width: 150px; /* Adjust as needed */
    height: 150px;
    position: relative;
}

.profile-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-info {
    flex-grow: 1;
}

.profile-info header {
    display: flex;
    align-items: center;
}

.profile-info h2 {
    font-size: 28px;
    margin-right: 20px;
}

.profile-stats {
    display: flex;
    margin-top: 20px;
}

.stat-item {
    margin-right: 40px;
}

.stat-item strong {
    font-size: 18px;
}

.posts-grid {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
    margin-top: 50px;
}

.post-item {
    position: relative;
}

.post-item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Additional styles for responsiveness */
@media (max-width: 600px) {
    .profile-header,
    .profile-info header,
    .profile-stats {
        flex-direction: column;
        align-items: center;
    }

    .stat-item {
        margin-bottom: 30px;
    }

    .posts-grid {
        grid-gap: 30px;
    }
}